<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        {% if title %}
            <title>Guitar Brands</title>
        {% else %}
            <title>Guitar Brands - {{ title }}</title>
        {% endif %}
    </head>
    <body>
        <h1>{{ title }}</h1>

        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
    </body>
</html>
