{% extends 'appcompetitors/base.html' %}

{% block content %}
<h2>List of Guitars</h2>
{% if guitar_list %}
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">Brand</th>
            <th scope="col">Sub-brand</th>
            <th scope="col">Range</th>
            <th scope="col">Model</th>
            <th scope="col">Variant</th>
            <th scope="col">Year</th>
            <th scope="col">Price (US$)</th>
        </tr>
    </thead>
    <tbody>
        {% for guitar in guitar_list %}
        <tr>
            <td>{{ guitar.brand.name }}</td>
            <td>{{ guitar.subbrand.name }}</td>
            <td>{{ guitar.rnge.name }}</td>
            <td>{{ guitar.model.name }}</td>
            <td>{{ guitar.variant }}</td>
            <td class="text-right">{{ guitar.year }}</td>
            <td class="text-right" nowrap="nowrap">{{ guitar.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if guitar_list.has_other_pages %}
<nav>
    <ul class="pagination justify-content-center">
        {% if guitar_list.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ guitar_list.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
        {% endif %}

        {% for i in guitar_list.paginator.page_range %}
        {% if guitar_list.number == i %}
        <li class="page-item disabled"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}

        {% if guitar_list.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ guitar_list.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% else %}
    <p>No guitars to display.</p>
{% endif %}
{% endblock %}
